*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    width: 100%; 
    
}


header {
    background-color:rgb(251, 255, 228);
    animation-name: fotograma;
    animation-duration: 3s;
    animation-timing-function:(0.1,0.1,0.1);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: row;
    width: 100%;
    border: black solid 1px;
    
    
      
}

header h1{
    align-self: center;
    text-align: center; 
    margin:auto;
    
     
}

@keyframes fotograma{
    
    0% {background:linear-gradient(#665D1E,green,rgb(140,163, 6))}
    
    100% {background: linear-gradient(rgb(140, 163, 6),#665D1E,green)}
       
}

#logo {
    position: initial;

}



nav{
    border: medium solid double grey;
    align-self: flex-end;
    text-align: right;
    width: 100%;
    padding: 2px;
    
}

nav a{
    background-color: black;
    color: white;
    font-size: larger;
    
}

@media screen and (max-width:600px) {
section {
    padding:0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80%;
    width: 100%;   
    padding: 0;
    margin-bottom: 20%;
}
}

@media screen and (min-width:601px) and (max-width:1199px) {
section {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;   
}
}

@media screen and (min-width:1200px) {
    section {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        width: 100%;   
        
    }
    }

section article #intro{
    align-self: flex-end;
    color: white;
    font-weight: bold;
    font-size:medium ;
    border: 5px double rgb(140,163, 6);
    margin-bottom: 0;

}

@media screen and (min-width:601px) and (max-width:1199px) {
#concepto_canasta
{
    margin-top: 75px;
}
}

@media screen and (min-width:1200px) {
#concepto_canasta
{
    margin-top: 150px;
}
}

@media screen and (max-width:600px) {
section article{
    background-color:cornsilk;
    align-self: center;
    width: 80%;
    height: 100%;
    background-color: black;
    color: white;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 15%;
}    
}
@media screen and (min-width:601px) and (max-width:1199px) {
section article{
    background-color:cornsilk;
    align-self: center;
    width: 44%;
    height: 100%;
    background-color: black;
    color: white;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
}    
}

@media screen and (min-width:1200px) {
    section article{
    background-color:cornsilk;
    align-self: center;
    width: 29%;
    height: 100%;
    background-color: black;
    color: white;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 2%;
    margin-right: 2%;
}
}

@media screen and (max-width:600px) {
.carita h1, h5{
    text-align: left;
}
}  


.carita h1, h5{
    text-align: left;
    margin-left: 1%;
    
}    
}   



section article .conceptos{
    align-self: flex-end;
    color: white;
    font-weight: bold;
    font-size: smaller;
    font-style: italic;
    margin-bottom: 0;
    text-align: left;

}

section article h4{
    
    font-weight: bold;
    

}

@media screen and (max-width:600px) {
section aside{
    width: 80%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    align-self: center;
    font-size: larger;
    font-weight: bolder;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 15%;
}                          
}
@media screen and (min-width:601px) and (max-width:1199px) {
section aside{
    width: 44%;
    height: 100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    align-self: center;
    font-size: larger;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
}                          
}

@media screen and (min-width:1200px) {
section aside{
    width: 29%;
    height: 100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    align-self: center;
    font-size: larger;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 2%;
    margin-right: 2%;
} 
}

@media screen and (max-width:600px) {
#introfoto1{
    padding-top: 60%;
}
}

@media screen and (min-width:601px) and (max-width:1199px) {
    #introfoto1{
        padding-bottom: 400px;
    
}
}

@media screen and (min-width:1200px) {
    #introfoto1{
        padding-bottom: 400px;
}
}




.foto1{
    background-image: url(mars33.jpg);
    border: 1px solid green;
    
}

.casa{
    background-image: url(borba3.jpg);
    border: 1px solid green;
    
}



@media screen and (max-width:600px) {
    #f{
        padding-bottom: 60%;
        color: black;
    }
    }
    
    @media screen and (min-width:601px) and (max-width:1199px) {
        #f{
            padding-bottom: 400px;
            color: black;
        
    }
    }
    
    @media screen and (min-width:1200px) {
        #f{
            padding-bottom: 400px;
            color: black;
        
    }
    }

#cbt{
    font-size: medium;
    color:white;
    border-width: 10px;
    border-color: white;
    padding:2px;

}

@media screen and (max-width:600px) {
.imagen {
    width: 100%;
    height: 70%;
    border: green solid 1px;
  }  
  }

  @media screen and (min-width:601px) and (max-width:1199px) {
.imagen {
    width: 100%;
    height: 400px;
    border: green solid 1px;
  }  
  }

@media screen and (min-width:1200px) {
.imagen {
    width: 100%;
    height: 500px;
    border: green solid 1px;
  }  
  }

  #byn {
    animation-name: fotogramaindec;
    animation-duration: 4s;
    animation-timing-function:(0.1,0.1,0.1);
    animation-delay: 0s;
    animation-iteration-count: infinite;

    
  }

  @keyframes fotogramaindec{
    
    0% {filter: grayscale(10%)}
    
    50% {filter: grayscale(45%)}
    
    100% {filter: grayscale(70%)}
    
       
}

@media screen and (max-width:600px) {
.iframe {
    width: 100%;
    height: 300px;
    order: green solid 2px;

}   
}

@media screen and (min-width:601px) and (max-width:1199px) {
.iframe {
    width: 100%;
    height: 400px;
    

}
}

@media screen and (min-width:1200px) { 
.iframe {
    width: 100%;
    height: 400px;
    
}
}

#o1{
    order:1;
}

#o2{
    order:2;
}

#o3{
    order:3;
}

#o4{
    order:4;
}

#o5{
    order:5;
}

#o6{
    order:6;
}



footer {
    background-color:rgb(140,163, 6);
    animation-name: fotograma2;
    animation-duration: 2s;
    animation-timing-function:(0.1,0.1,0.1);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    border-width: 10px;
    border-color: white;
    padding:2px;
    height: 1%;
    width: 100%;   
    padding: 0;
    text-align: center;
    font-size: smaller;
    font-weight: bolder;
}

@keyframes fotograma2{
    
    0% {background:linear-gradient(#665D1E,green,rgb(140,163, 6))}
    
    100% {background: linear-gradient(rgb(140, 163, 6),#665D1E,green)}
    
       
}

i{
    color: mediumaquamarine;
    font-size: 200%;
    
}

    
.container{

    margin-top: 10%;
    margin-bottom: 20%;
  
}

